html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/* 로그인 컨테이너 */
.login-container {
    width: 400px;
    padding: 20px;
    background: white;
    text-align: center;
}

/* 로그인 제목 */
.login-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* 입력 필드 컨테이너 */
.login-input-container {
    display: flex;
    flex-direction: column;
    gap: 0px; /* 이메일 요소와 비밀번호 요소 사이 거리 */
    margin-bottom: 20px;
}

/* 입력 필드 */
.login-input p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

.login-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box; /* 부모 크기를 초과하지 않도록 함 */
}

.login-input input:focus {
    border-color: #6a5acd;
}

/* 오류 메시지 컨테이너 */
.error-container {
    min-height: 32px;
    margin-top: 7px;
}

/* 오류 메시지 */
.failure-message {
    color: red;
    font-size: 13px;
    text-align: left;
}

.hide {
    display: none;
}

/* 로그인 버튼 */
.login-btn {
    width: 100%;
    background-color: #ACA0EB;
    color: white;
    border: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* 회원가입 버튼 */
.signup-btn {
    width: 100%;
    color: black;
    background: none;
    border: none;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}