html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7; 
}

/* 헤더 */
.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid black; 
    position: relative;
}

.header-content {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-backsign {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.header-title {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    flex-grow: 1; 
}


.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 50px;
}

/* 회원가입 컨테이너 */
.signin-container {
    width: 400px;
    padding: 20px;
    text-align: center;
}

/* 회원가입 제목 */
.signin-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* 입력 필드 컨테이너 */
.signin-input-container {
    display: flex;
    flex-direction: column;
    gap: 0px; /* 이메일 요소와 비밀번호 요소 사이 거리 */
    margin-bottom: 20px;
}

/* 입력 필드 */
.signin-input p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 0px;
}

.signin-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box; /* 부모 크기를 초과하지 않도록 함 */
}

.signin-input input:focus {
    border-color: #6a5acd;
}

/* 오류 메시지 컨테이너 */
.error-container {
    min-height: 32px;
    margin-top: 7px;
}

/* 오류 메시지 */
.failure-message {
    color: red;
    font-size: 13px;
    text-align: left;
}

.hide {
    display: none;
}

/* 회원가입 버튼 */
.signin-btn {
    width: 100%;
    background-color: #ACA0EB;
    color: white;
    border: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* 로그인 버튼 */
.login-btn {
    width: 100%;
    color: black;
    background: none;
    border: none;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}


/* 프로필 이미지 업로드 버튼 */
.profile-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.plus {
    font-size: 40px;
    color: #666;
    font-weight: 100;
}

#profile-img-input {
    display: none;
}