html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7; 
}

/* 헤더 */
.header-backsign {
    display: none !important;
}

/* 본문 */
.edit-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 50px;
}

/* 본문 컨테이너 */
.edit-password-container {
    width: 400px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* 수정완료 토스트메시지 absolute 배치 위함 */
}

/* 본문 제목 */
.edit-password-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* 본문 내용 */
.edit-password-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px; /* 프로필 사진, 이메일 요소, 닉네임 요소 사이 거리 */
    margin-bottom: 5px;
}

/* 본문 아이템 제목 */
.edit-password-item p {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

/* 본문 아이템 입력 필드 */
.edit-password-item input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box; /* 부모 크기를 초과하지 않도록 함 */
}

.edit-password-item input:focus {
    border-color: #6a5acd;
}

/* 오류 메시지 컨테이너 */
.error-container {
    min-height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* 오류 메시지 */
.failure-message {
    color: red;
    font-size: 12px;
    text-align: left;
}

.hide {
    display: none;
}

/* 수정하기 버튼 */
.edit-btn {
    width: 100%;
    background-color: #ACA0EB;
    color: white;
    border: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0;
}



/* 수정완료 토스트메시지 */
.commit-btn {
    width: 100px;
    background-color: #ACA0EB;
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;

    /* 토스트 메시지처럼 동작하도록 설정 */
    position: absolute;
    top: calc(100% + 20px); /* "수정하기" 버튼 아래로 10px 정도 띄움 */
    left: 50%;
    transform: translateX(-50%);    /* 가운데 정렬 */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* 토스트 메시지가 나타날 때 */
.commit-btn.show {
    opacity: 1;
    visibility: visible;
}
