html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #F4F5F7; 
}

/* 헤더 */
.header-backsign {
    visibility: hidden !important;
    pointer-events: none;
}

/* 본문 */
.postList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 50px;
    margin-top: 78px;  
    flex: 1 1 auto; 
}

/* 본문 컨테이너 */
.postList-container {
    width: 600px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* 수정완료 토스트메시지 absolute 배치 위함 */
}

/* 본문 제목 */
.postList-title {
    font-size: 20px;
    line-height: 1.4;
}

/* 게시글 작성 버튼 */
.post-button {
    display: flex;
    width: 100%;
    justify-content:flex-end;
}
.post-button button {
    width: 120px;
    background-color: #ACA0EB;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 8px 3px;
    font-size: 16px;
    cursor: pointer;
}
.post-button button:hover {
    background-color: #7f6aee;
}

/* 본문 내용 */
.postList-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 20px; /* 게시글 간격 */
}

/* 본문 아이템 (게시글) */
.postList-item  {
    border-radius: 15px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    padding: 20px;
    background-color: white;
}


/* 1. 제목 영역 */
.post-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

/* 2. 좋아요/댓글/조회수 + 날짜 영역 */
.post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
}

/* (좋아요 0, 댓글 0, 조회수 0) 부분 */
.numbers {
    display: flex;
    gap: 12px; /* 좋아요/댓글/조회수 간격 */
}

/* 3. 구분선 (HTML에 '선' 이라고 쓰여 있는 부분) */
.post-innerline {
    border-top: 1px solid #b9b9b9;
    margin: 20px 0;
}

/* 4. 프로필(사진) + 작성자 영역 */
.post-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 4-1. 사진 (원형 프로필) */
.author-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

/* 4-2. 작성자 이름 */
.author-name {
    font-size: 14px;
    color: #333;
}