/* 헤더 */
.header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 14px 0px;
    border-bottom: 1px solid black; 

    /* 헤더가 고정되도록 함. (본문 스크롤해도 헤더가 보이도록) */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #F4F5F7; 

    height: 50px; 
    flex: 0 0 auto; 
}

.header-content {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    position: relative;
}

.header-backsign {
    width: 40px;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.header-title {
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    flex-grow: 1; 
}

.header-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative; /*프로필 아이콘 바로 아래에 드롭다운 위치*/
}

.header-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* 헤더 드롭다운 */
.header-dropdown {
    position: absolute; /*프로필 아이콘 바로 아래에 위치*/
    top: calc(100% + 10px);  /*프로필 아이콘 아래 간격*/
    right: 0; /*드롭다운 오른쪽 정렬*/
    width: 150px;
    background-color: #C7CAD1;
    overflow: hidden;
    pointer-events: none; /* 클릭 방지 */
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
}

.header-dropdown.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* 클릭 가능 */
}

.header-dropdown-item {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    transition: background 0.2s;
}

.header-dropdown-item:hover {
    background-color: #e9e9e9;
}

/* 로그인 버튼 스타일 */
.header-login-button button {
    width: 50px;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
}

.header-login-button button:hover {
    color: #7f6aee;
}